<!DOCTYPE html>
<html>
    <head>
        <title>Hola</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/jquery/scriptTest.js"></script> 
        <link href="css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="supreme-container">
            <nav class="navbar navbar-expand-lg navbar-light bg-warning main">
                <a class="navbar-brand" href="/">Foxify</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/galleria">Galleria</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/registro">Registro</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/blog">Blog<span class="sr-only">(current)</span></a>
                    </li>
                  </ul>
                  <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
              <nav class="navbar navbar-expand-lg navbar-light bg-warning secondary">
                <a class="navbar-brand" href="/">Foxify</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/galleria">Galleria</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/registro">Registro</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/blog">Blog<span class="sr-only">(current)</span></a>
                    </li>
                  </ul>
                </div>
              </nav>
            <div class="insideFlexbox">
                <div class="row" style="width:100%;padding:0;margin:0;">
                    <div class="col-12" style="margin-bottom: 5%;padding: 0;">
                        <header class="foxHeader" style="background-image: url('https://randomfox.ca/images/43.jpg')">
                            <div class="overlay"></div>
                            <div class="container">
                                <div class="row">
                                <div class="col-lg-8 col-md-10" style="margin-left: auto;margin-right: auto;">
                                    <div class="page-heading" style="text-align: center; padding:5%; overflow: hidden;;">
                                    <h1 style="font-size:60px;"><b>Aventuras del Zorro!</b></h1>
                                    <span class="subheading">Actualizaciones para nuestros donadores!</span>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </header> 
                    </div>
                    <div class="col-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg8 col-md-10 mx-auto">
                                    <article class="foxArticle">
                                        <a href="#">
                                            <h2 class="foxTitle"><b>Stu volvio a romper una silla!</b></h2>
                                            <h5 class="foxSubTitle">Nuestro Stu sigue haciendo de las suyas...</h5>
                                        </a>
                                        <p class="foxMeta">Posteado hace 3 horas
                                        </p>
                                    </article>
                                    <hr>
                                    <article class="foxArticle">
                                        <a href="#">
                                            <h2 class="foxTitle"><b>Jon mordio a Dany!</b></h2>
                                            <h5 class="foxSubTitle">Hasta a D&D se le hubiera ocurrido un mejor desenlace</h5>
                                        </a>
                                        <p class="foxMeta">Posteado hace 9 horas
                                        </p>
                                    </article>
                                    <hr>
                                    <article class="foxArticle">
                                        <a href="#">
                                            <h2 class="foxTitle"><b>Un zorro misterioso?</b></h2>
                                            <h5 class="foxSubTitle">Quien sera el proximo en unirse a la familia?</h5>
                                        </a>
                                        <p class="foxMeta">Posteado hace 12 horas
                                        </p>
                                    </article>
                                    <hr>
                                    <article class="foxArticle">
                                        <a href="#">
                                            <h2 class="foxTitle"><b>Amanda visita a Robert!!</b></h2>
                                            <h5 class="foxSubTitle">Increible reencuentro lleno de emociones!</h5>
                                        </a>
                                        <p class="foxMeta">Posteado hace 2 dias
                                        </p>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>